.myFilters {
 
  .ant-table-content {
    @media only screen and (min-width: 1025px) {
      overflow: hidden !important;
    }
  }
}

.popover-content-teams {
  width: 270px;
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  padding: 10px;
  @media only screen and (max-width: 500px) {
    width: auto !important;
    flex-direction: column;

  }
}
  .ant-popover-inner {
    padding: 5px !important;
    .ant-menu-item {
      padding-inline: 10px 9px !important;
      margin: 0 !important;
      height: 35px !important;
      line-height: 30px !important;
      border-radius: 4px !important;
    }
  }
.users-main {
  .ant-checkbox-wrapper {
    margin-inline-start: 0 !important;
    display: flex !important;
    padding-block: 5px;
  }
  .ant-checkbox-group {
    display: flex !important;
    flex-direction: column;
  }
  .pagination-list {
    display: flex;
    justify-content: space-between;
    color: var(--title-color);
  }
  .ant-tabs .ant-tabs-tab-btn{
    color: var(--title-color);
  }
  input{
    background-color: var(--select-bg-color);
    color: var(--title-color);
    &::placeholder{
      color: var(--title-color);
    }
  }
  .ant-input-affix-wrapper{
    background-color: var(--select-bg-color);
    color: var(--title-color);
  }
}
.action_btns {
  padding-block: 4px;
  img {
    margin-right: 7px;
  }
}
.restore-icon {
  background-color: #f4a261;
  color: white;
}
.del-icon {
  background-color: #ff4d4f;
  color: white;
}
.myFilters {
  .filters {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    .filtersColumns {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 10px;
      .activitySearch {
        width: 260px;
        margin-left: 5px;
        transition: width 0.3s ease, background-color 0.3s ease;
        color: var(--label-color);
        background-color: var(--white-dark-bg);
        input{
          color: var(--label-color);
  background-color: var(--white-dark-bg);
          &::placeholder{
            color: var(--label-color);
          }
        }
        @media only screen and (max-width: 483px) {
          width: 100%;
        }
      }
      .activitySearch:hover {
        width: 275px;
        background-color: var(--white-dark-bg);
        @media only screen and (max-width: 483px) {
          width: 100%;
        }
      }
      .ant-btn-default{
        color: var(--label-color)!important;
  background-color: var(--white-dark-bg)!important;
      }
    }
    @media only screen and (max-width: 1500px) {
      flex-direction: column;
    }
  }
}
.invite-users{
  .react-tel-input .form-control{
    color: var(--label-color);
  background-color: var(--white-dark-bg);
  }
}
.my-popover-users{
  .ant-popover-arrow{
    display: none !important;
  }}
